
body html{
 
    height: 100%;

  font-family: Neo Sans Arabic,Changa,Segoe UI;
}


  .tit{
    font-weight: 500;
    color: black;
    font-size: 20px;
    position: relative;
    top: 32px;
    font-family: system-ui;
  }
  .btndiv{
        /* background-color: black; */
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
      
        height: 19%;
        /* border-radius: 12px; */
        display: flex;
        text-align: center;
        justify-content: center
  }
  .btndivfooter{
        /* background-color: black; */
        border-radius: 8px;
       
        height: 19%;
        /* border-radius: 12px; */
        display: flex;
        text-align: center;
        justify-content: center
  }
.btn{
  position: relative;
  background-color: #4d0d96;
  width: 29%;
  height: 42px;
  border-radius: 12px;
  margin: 5px;
  top: 20px;
}
.player{
  height: 44vw;
  width: auto;
  margin-top: 33px;

}
.playerDiv {
  height: 482px;
  width: 100%;
  position: relative;
}
.playimg{
  width: 43px;
  cursor: pointer;
}

.buttons{
  position: relative;
  display: flex;
  top: -45px;
  background-color: #eda84c00;
  border-radius: 8px;
 
}
.imgscreen{
  cursor: pointer;
  margin-left: auto;
  height: 37px;
  position: relative;
  top: 3px;
  width: 42px;
}

frontend\src\Lives\Livepage.css
.btnfooter{
 
  background-color: #4d0d96;
  width: 12%;
  height: 31px;
  border-radius: 12px;
  margin: 5px;

}
.btnfootermb{
 
  background-color: #4d0d96;
  width: 29%;
  height: 31px;
  border-radius: 12px;
  margin: 5px;

}
  a{
    position: relative;
    top: 8px;
    font-family: system-ui;
    font-weight: 600;
    color: wheat;
  }
  .afooter{
    position: relative;
    top: 4px;
    font-family: system-ui;
    font-weight: 600;
    color: wheat;
    font-size: 11px;
  }
  .blogpage{

    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    
    box-shadow: 3px 1px 11px 2px rgba(255,255,255,0.81);
-webkit-box-shadow: 3px 1px 11px 2px rgba(255,255,255,0.81);
-moz-box-shadow: 3px 1px 11px 2px rgba(255,255,255,0.81);
  }
  .header{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow :none;
   
  }

  .artic{
    text-align: center;
  }


  .titdiv{
    border-radius: 8px;
    text-align: center;
    margin-bottom: 29%;
    height: 100px;
    background-color: rgb(217 217 217 / 93%);
  }

  .livepaeg{
    margin: 22px;
  }

  .tithead{
    text-align: end;
  }

  .r{
  font-family: Neo Sans Arabic,Changa,Segoe UI;
    display: inline-block;
    padding: 5px 15px;
    background-color: #88b0ff;
    font-size: 18px;
  
    margin: 15px 11px;
    line-height: 1.5;
   
    border-radius: 8px;
  
  }
  .para{
    font-family: Neo Sans Arabic,Changa,Segoe UI;
    line-height: 1.5;
    padding: 2%;
    font-weight: 600;
  }


  @media screen and (min-width : 700px ) {
    
    .all{
        margin-left : 10%;
         margin-right: 10%;
}

}

img{
  height: auto;
  width: 95%;
}

.artic{
  background-color: white;
}

.socialmedia{    display: flex;
  justify-content: center;
  text-align: center;
  background-color: #eceef2;
  
    border-radius: 8px;
    padding: 14px;
}


  .socialmediabtn {
    /* position: relative; */
    background-color: #4d0d96;
    width: 29%;
    height: 42px;
    border-radius: 8px;
    margin: 5px;
    top: 20px;
}
.about{
  
  background-color: white;
  border-radius: 9px;
 
}

.all{
  background-color: rgb(217 217 217 / 93%);
  box-shadow: 1px 1px 10px 3px rgba(255,255,255,0.75);
  -webkit-box-shadow: 1px 1px 10px 3px rgba(255,255,255,0.75);
  -moz-box-shadow: 1px 1px 10px 3px rgba(255,255,255,0.75);
}